<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Centre de contrôle-commande : Télémesure</title>
    </head>
    <body>
        <tm-explorer-sidebar></tm-explorer-sidebar>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <div class="panel-title">
                        Vue alignée sur une grille
                    </div>
                </div>
                <div class="panel panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-primary panel-perso pan-1">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Courant
                                    </div>
                                </div>
                                <div class="panel-body">
                                    Valeur du courant
                                </div>
                            </div>
                            <div class="panel panel-perso"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-perso"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-perso"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-primary panel-perso pan-2">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Tension
                                    </div>
                                </div>
                                <div class="panel-body">
                                    Valeur de la tension
                                </div>
                            </div>
                            <div class="panel panel-perso"></div>
                        </div>
                        <script>
                            $(function () {
                                $('.panel-perso').lobiPanel({
                                    sortable: true,
                                    reload: false,
                                    unpin: false,
                                    minimize: false
                                });
                                var instance = $('.pan-1').data('lobiPanel');
                                console.log(instance.getPosition());
                                var instance2 = $('.pan-2').data('lobiPanel');
                                //instance2.unpin();
                                instance2.setPosition(instance.getPosition().x, instance.getPosition().y);
                            });
                            $('.panel-perso').on('dragged.lobiPanel', function (ev, lobiPanel) {
                                window.console.log("dragged event called");
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>