<div class="row">
	<div class="col-sm-6">
		<table class="table table-condensed" data-sort="table">
			<thead>
				<tr>
					<th>Status</th>
					<th>Name</th>
					<th>Description</th>
					<th class="pointer-hover">OnB. Date</th>
					<th class="pointer-hover">Recept. Date</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let packet of tmpackets"
					[class.active]="packet === selectedPacket" class="pointer-hover"
					(click)="onSelect(packet)">
					<th scope="row">OK</th>
					<td>{{packet.name}}</td>
					<td>{{packet.description}}</td>
					<td>{{packet.onBoardDate}}</td>
					<td>{{packet.receptionDate}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<app-packet-detail [spacePacket]="selectedPacket"></app-packet-detail>
	</div>
</div>
