<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Centre de contrôle-commande : Télémesure</title>
        <script src="../../../js/lobipanel.min.js"></script>

    </head>
    <body>
    	
        <tm-explorer-sidebar></tm-explorer-sidebar>

        <div class="col-md-10">

            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <div class="panel-title">
                        Vue placement libre
                    </div>
                </div>
                <div class="panel panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="ressources/img/eyesat2.png" class="img-responsive">
                    </div>

                    <div class="panel panel-primary panel-custom free-0">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Température panneau 1
                            </div>
                        </div>
                        <div class="panel-body">
                            Valeur de température
                        </div>
                    </div>
                    <div class="panel panel-primary panel-custom free-1">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Température panneau 2
                            </div>
                        </div>
                        <div class="panel-body">
                            Valeur de température
                        </div>
                    </div>
                    <div class="panel panel-primary panel-custom free-2">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Température panneau 3
                            </div>
                        </div>
                        <div class="panel-body">
                            Valeur de température
                        </div>
                    </div>
                    <div class="panel panel-primary panel-custom free-3">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Température panneau 4
                            </div>
                        </div>
                        <div class="panel-body">
                            Valeur de température
                        </div>
                    </div>
                </div>
                <script>
                    $(function () {
                        $('.panel-custom').lobiPanel({
                            sortable: true,
                            reload: false,
                            unpin: false,
                            minimize: false,
                            state: "unpinned"
                        });
                        var instance = $('.free-0').data('lobiPanel');
                        //instance.unpin();
                        instance.setSize(300, 150);
                        instance.setPosition(480, 150);
                        
                        var instance = $('.free-1').data('lobiPanel');
                        //instance.unpin();
                        instance.setSize(300, 150);
                        instance.setPosition(1300, 170);
                        
                        var instance = $('.free-2').data('lobiPanel');
                        //instance.unpin();
                        instance.setSize(300, 150);
                        instance.setPosition(1425, 570);
                        
                        var instance = $('.free-3').data('lobiPanel');
                        //instance.unpin();
                        instance.setSize(300, 150);
                        instance.setPosition(625, 740);
                        console.log(instance.getPosition());
                    });
                </script>
            </div>
        </div>
    </body>
</html>